@page "/translateText"
@using BlazorTranslateApp.Services
@using System.ComponentModel.DataAnnotations
@inject GoogleTranslateService TranslateService; 

<PageTitle>Translator</PageTitle>


<p>This component demonstrates how to use google translate API to translate text</p>

<div>
    <p>source language: </p>
    <select @bind="@sourceLanguage">
        @foreach (var lang in Languages)
        {
            <option value="@lang">@lang</option>
        }
    </select>
</div>
<div>
    <p>source text: </p>
    <textarea @bind="@sourceText" ></textarea>
</div>
<div>
    <p>target language: </p>
    <select @bind="@targetLanguage">
        @foreach (var lang in Languages)
        {
            <option value="@lang">@lang</option>
        }
    </select>

</div>

<div>
    <button @onclick="TranslateText">translate</button>
</div>
<div>
    <textarea @bind="@targetText"></textarea>
</div>


@code {
    private List<string> Languages = new();
    
    string sourceLanguage = "";

    string targetLanguage = "";

    string sourceText = "";
    string targetText = "";

    protected override async Task OnInitializedAsync()
    {
        await foreach (var lang in TranslateService.Languages())
        {
            Languages.Add(lang);
        }
    }

    private async void TranslateText()
    {
        await InvokeAsync(async () => targetText = await TranslateService.TranslateText(sourceText, targetLanguage, sourceLanguage));
        
    }

}
